@charset "utf-8";
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'santanablack';
  src: url('../font/Santana-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Icon Font CDN */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
/* font-family: 'Material Symbols Outlined'; */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
/* font-family: fontawesome; */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');
/* font-family: xeicon;  */


* {
  /* 전체선택자(모든 태그에 여백을 빼줌 */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  overflow-y: scroll;
  /* 문서전체에 세로 스크롤바자국 항상 표시 */
  overflow-x: hidden;
  /* 문서전체에 가로 스크롤바자국 항상 숨김 */
}

body {
  font-family: 'Pretendard-Regular', sans-serif;
}

/* 시멘틱태그를 지원하지 않는 브라우저에서 inline로 인식하기 때문에 block로 변경해줌 */
article,
aside,
details,
summary,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

li {
  list-style-type: none;
}

/*목록에 점 없애기 */

a {
  text-decoration: none;
  /*하이퍼링크 밑줄 없애기*/
  color: inherit;
  /*하이퍼링크의 글자색 부모한테 상속받기*/
}

img {
  vertical-align: top;
  /*이미지에 원치 않는 여백이 생성되는 브라우저 오류가 발생하는 경우가 있음*/
  font-size: 0;
  /*폰트 크기 초기화*/
  border: 0;
  /* 이미지 링크시 기본적으로 나타나는 테두리 제거 */
}

.clear:after {
  /* float문제해결 */
  content: "";
  display: block;
  clear: both;
}

.indent {
  /* 글자 안보이게 밀어놓기 */
  display: block;
  text-indent: -9999px;
}