@import url(common.css);

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'santanablack';
  src: url('../font/Santana-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  width: 100%;
  font-family: 'Pretendard-Regular';
  background-color: #000;
}

#mobileHeader {
  display: none;
}


/* ______________ header */
#pcHeader {
  position: fixed;
  width: 100%;
  background-color: #000;
  border-bottom: 1px solid #fff;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  z-index: 9999;
}

nav {
  /* border: 1px solid blue; */
  position: relative;
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gnb {
  z-index: 1;
}

.gnbmenu {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 16px;
}

.gnbmenu li {
  position: relative;
  height: 100px;
  margin-left: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.gnbmenu li:first-child {
  margin-left: 0;
}

.gnbmenu li a {
  font-family: 'GmarketSansMedium';
  font-size: 16px;
  font-size: 1rem;
  color: #fff;
  text-align: center;
  transition: opacity 0.5s ease;
}

.gnbmenuHover {
  /* border: 1px solid orange; */
  font-family: 'GmarketSansMedium';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  font-size: 16px;
  font-size: 1rem;
  text-align: center;
  line-height: 100px;
  transition: opacity 0.5s;
  opacity: 0;
}

.gnbmenu li:hover a {
  opacity: 0;
}

.gnbmenu li:hover .gnbmenuHover {
  opacity: 1;
  color: #fff;
}

.headerCircle1 {
  position: absolute;
  top: -25px;
  right: -30px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  background-color: #54E8A6;
}


/* ______________ main */
main {
  width: 100%;
  max-width: 1400px;
  height: auto;
  background-color: #FF7373;
  margin: auto;
  padding-top: 80px;
  overflow: hidden;
}

main .h1 {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #000;
  border-radius: 0 0 60px 60px;
  z-index: 9000;
}

main .h1 p {
  font-family: 'santanablack';
  font-size: 180px;
  font-size: 11.25rem;
  font-weight: 600;
  letter-spacing: -10px;
  text-transform: uppercase;
}

main .h1>p:first-child {
  margin-left: 0;
  color: #FF7373;
  border-bottom: 4px solid #fff;
}

main .h1>p:nth-child(2) {
  color: #FFDB95;
  border-bottom: 4px solid #fff;
}

.h1-1 {
  font-size: 180px;
  font-size: 11.25rem;
  display: flex;
  border-bottom: 4px solid #fff;
}

.h1-1 p:first-child {
  color: #54E8A6;
}

.h1-1 p:nth-child(2) {
  color: #FF7373;
  margin-left: 60px;
}

.mainTriangle1 {
  position: absolute;
  top: 1%;
  left: 15%;
  width: 0;
  height: 0;
  border-left: 80px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 50px solid #54E8A6;
  transform: rotate(-20deg);
  z-index: 9999;
  animation: triangle 1s linear alternate infinite;
}

@keyframes triangle {
  0% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(-40deg);
  }
}

.mainCircle1,
.mainCircle2,
.mainCircle3 {
  position: absolute;
  border: 8px solid #54E8A6;
  border-radius: 50%;
}

.mainCircle1 {
  top: 30%;
  left: 0;
  width: 95px;
  height: 95px;
  transition: 0.35s;
}

.mainCircle2 {
  bottom: -670px;
  right: -20%;
  width: 822px;
  height: 822px;
  transition: 0.35s;
}

.mainCircle3 {
  bottom: -646px;
  right: -18%;
  width: 778px;
  height: 778px;
  transition: 0.35s;
}


.mainCircle1:hover {
  border-color: #FFDB95;
  transform: scale(1.1);
}

.mainRectangle1,
.mainRectangle2 {
  position: absolute;
  transform: rotate(15deg);
  animation: rectangle 3s linear infinite;
}

@keyframes rectangle {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.mainRectangle1 {
  bottom: -40%;
  left: 10%;
  width: 205px;
  height: 205px;
  background-color: #FFDB95;
}

.mainRectangle2 {
  bottom: -44%;
  left: 8%;
  width: 258px;
  height: 258px;
  border: 8px solid #FFDB95;
}



/* ______________section */
/* section1 */
#section1 {
  /* border: 1px solid red; */
  width: 100%;
  max-width: 1400px;
  height: 100%;
  background-color: #FF7373;
  padding: 80px 48px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionH2 {
  font-family: 'santanablack';
  font-size: 120px;
  font-size: 7.5rem;
  text-transform: uppercase;
  color: #111;
  letter-spacing: -5px;
  line-height: 120px;
}

.brline {
  display: block;
  margin-bottom: -40px;
}

.section1-1 {
  width: 40%;
  height: 850px;
  border: 8px solid #FFDB95;
  border-radius: 50px;
  overflow: hidden;
}

.section1-1 img {
  width: 100%;
  height: 850px;
  object-fit: cover;
}

.section1-2 {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.section1-2Content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section1-2Content>h2 {
  width: 70%;
  color: #f8f8f8;
  letter-spacing: -3px;
  margin: 0 32px;
}

.section1-2Content>h2>p {
  position: relative;
}

.section1-2Content>h2>p:before {
  content: attr(data-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  color: #FFDB95;
  overflow: hidden;
  transition: 0.5s;
}

.section1-2Content>h2:hover>p:before {
  width: 100%;
}

.section1-2Image {
  width: 30%;
  height: 397px;
  border: 8px solid #FFDB95;
  border-radius: 50px;
  overflow: hidden;
}

.section1-2Image img {
  width: 100%;
  height: 397px;
  object-fit: cover;
}

.section1-2TextList {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 17px;
  font-size: 1.063rem;
  font-weight: 200;
  color: #f8f8f8;
  line-height: 28px;
  padding: 32px;
  margin-top: 16px;
  overflow: hidden;
  transition: 0.35s;
}

.section1-2Text1 {
  transition: 0.35s;
}

.section1-2Dim {
  position: absolute;
  top: 100%;
  left: 24px;
  width: calc(100% - 48px);
  height: 100%;
  border: 8px solid #FFDB95;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  border-radius: 50px 50px 0 0;
  padding: 32px 32px 48px 32px;
  transition: 0.5s;
  opacity: 0;
}

.section1-2Text2 {
  color: #111;
  font-weight: 400;
  transition: 0.35s;
}

.section1-2TextList:hover .section1-2Dim {
  top: 0;
  opacity: 1;
}


/* section2 */
#section2 {
  width: 100%;
  max-width: 1400px;
  height: 100%;
  background-color: #FFDB95;
  padding: 80px 48px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section2Inner {
  display: flex;
}

.section2-1 {
  /* border: 1px solid #000; */
  width: 50%;
  height: auto;
  margin: 0 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.section2-1>h2 {
  text-align: right;
}

.section2-1>h2>span {
  position: relative;
  display: block;
}

.section2-1>h2>span:before {
  content: attr(data-color);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 0;
  color: #54E8A6;
  overflow: hidden;
  padding-right: 10px;
  transition: 0.5s;
}

.section2-1>h2:hover>span:before {
  height: 100%;
}

.section2-1TextList {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 17px;
  font-size: 1.063rem;
  font-weight: 300;
  color: #f8f8f8;
  line-height: 28px;
  padding: 32px;
  margin-top: 20px;
  overflow: hidden;
  transition: 0.35s;
}

.section2-1Text1 {
  position: relative;
  color: #111;
}

.section2-1Dim {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  border: 8px solid #54E8A6;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  border-radius: 40px 40px 0 0;
  padding: 32px;
  transition: 0.5s;
  opacity: 0;
}

.section2-1Text2 {
  color: #111;
  font-weight: 400;
  letter-spacing: -1px;
  transition: 0.35s;
}

.section2-1TextList:hover .section2-1Dim {
  top: 0;
  opacity: 1;
}

.section2-2 {
  /* border: 1px solid #000; */
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section2-2>img {
  width: 100%;
  height: 600px;
  border: 8px solid #54E8A6;
  border-radius: 50px;
  overflow: hidden;
}

.section2-2>img {
  width: 100%;
  object-fit: cover;
}

.section2-2Image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.section2-2Image>img {
  width: 100%;
  object-fit: cover;
}

.section2-2Image img:first-child,
.section2-2Image img:nth-child(2) {
  height: 250px;
  border: 8px solid #54E8A6;
  border-radius: 40px;
  margin-top: 32px;
  overflow: hidden;
}

.section2-2Image img:first-child {
  width: 30%;
  object-fit: cover;
}

.section2-2Image img:nth-child(2) {
  width: 70%;
  object-fit: cover;
}

.section2License {
  width: 100%;
  text-align: right;
  font-size: 14px;
  color: #999;
}


/* section3 */
#section3 {
  width: 100%;
  max-width: 1400px;
  height: 100%;
  background-color: #FFDB95;
  margin: auto;

}

.section3Inner {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #54E8A6;
  border-radius: 60px 60px 0 0;
  padding: 80px 0;
  overflow: hidden;
}

.section3Inner>h2 {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  color: #FFDB95;
  text-align: center;
  z-index: 31;
}

.section3Inner>h2:before {
  content: attr(data-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  color: #FF7373;
  overflow: hidden;
  transition: 0.35s;
}

.section3Inner>h2:hover:before {
  height: 100%;
}

.section3Image {
  position: relative;
  width: 80%;
  height: 750px;
  border: 8px solid #FF7373;
  border-radius: 60px 60px 0 0;
  margin: auto;
  overflow: hidden;
}

.section3Text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 360px;
  font-size: 17px;
  font-size: 1.063rem;
  font-weight: 300;
  color: #111;
  background-color: rgba(255, 255, 255, 0.8);
  line-height: 28px;
  padding: 20px 20px 0;
  margin: auto;
  overflow: hidden;
}

.section3Dim {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  border: 8px solid #FF7373;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  border-radius: 40px 40px 0 0;
  padding: 32px 32px 64px 32px;
  transition: 0.5s;
  opacity: 0;
  z-index: 32;
}

.section3Text2 {
  color: #111;
  font-weight: 400;
  transition: 0.35s;
}

.section3Image img {
  width: 100%;
  height: inherit;
  object-fit: cover;
}

.section3Text:hover .section3Dim {
  top: 0;
  opacity: 1;
}

/* section4 */
#section4 {
  position: relative;
  width: 100%;
  max-width: 1400px;
  height: 100%;
  background-color: #fff;
  padding: 80px 48px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#section4>h2 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#section4>h2>span:first-child {
  color: #fff;
  transition: 0.5s;
}

#section4>h2>span:last-child {
  transition: 0.5s;
}

#section4>h2:hover>span:first-child {
  color: #111;
}

#section4>h2:hover>span:last-child {
  color: #f8f8f8;
  text-shadow: 2px 2px 5px #111;
}

.section4Images {
  width: 48.8%;
  display: flex;
  flex-direction: column;
}

.section4Image {
  width: 100%;
  height: 800px;
  border: 8px solid #000;
  border-radius: 40px;
  overflow: hidden;
}

.section4Image img {
  width: 100%;
  height: inherit;
  object-fit: cover;
}

.section4Images a {
  font-size: 14px;
  color: #999;
  margin: 10px 0 0 20px;
}

.section4Text {
  /* border: 1px solid #000; */
  position: relative;
  width: 48.8%;
  height: auto;
  font-size: 17px;
  font-size: 1.063rem;
  font-weight: 300;
  color: #111;
  line-height: 28px;
  padding: 20px;
  margin-top: 180px;
  overflow: hidden;
}

.section4Dim {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  border: 8px solid #000;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  border-radius: 40px 40px 0 0;
  padding: 32px;
  transition: 0.5s;
  opacity: 0;
}

.section4Text2 {
  color: #111;
  font-weight: 400;
  transition: 0.35s;
}

.section4Text:hover .section4Dim {
  top: 0;
  opacity: 1;
}


/* section5 */
#section5 {
  position: relative;
  width: 100%;
  max-width: 1400px;
  height: 100%;
  background-color: #FFDB95;
  padding: 80px 48px;
  margin: auto;
  z-index: 5000;
}

#section5>h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-size: 200px;
  font-size: 12.5rem;
  color: rgba(0, 0, 0, 0.3);
  text-align: center;
  letter-spacing: -10px;
  line-height: 128%;
  z-index: 9999;
}

#section5>h2>span {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}

#section5>h2>span:before {
  content: attr(data-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  color: #FF7373;
  padding-right: 10px;
  overflow: hidden;
  transition: 0.5s;
}

#section5>h2:hover>span:before {
  height: 100%;
}

.section5Content {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
}

.lineTop {
  position: relative;
  width: 100%;
  height: 8px;
  background-color: #fff;
  margin-bottom: 16px;
  animation: line 0.5s linear infinite;
}

.lineTop:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 8px;
  background-color: #FFDB95;
  transition: 0.5s;
}

.lineTop:hover:before {
  width: 100%;
}

.lineBottom {
  position: relative;
  width: 100%;
  height: 8px;
  background-color: #fff;
  margin-top: 16px;
  animation: line 0.5s linear infinite;
}

.lineBottom:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 8px;
  background-color: #FFDB95;
  transition: 0.5s;
}

.lineBottom:hover:before {
  width: 100%;
}

@keyframes line {
  0% {
    background-color: #FF7373;
  }

  100% {
    background-color: #54E8A6;
  }
}

.section5Image {
  position: relative;
  display: flex;
}

.section5Image1,
.section5Image2 {
  width: 48.8%;
  height: 850px;
  overflow: hidden;
}

.section5Image1 {
  margin-right: 32px;
}

.section5Image1 img,
.section5Image2 img {
  width: 100%;
  height: 100%;
  border: 8px solid #fff;
  border-radius: 50px;
  object-fit: cover;
}

.section5License {
  font-size: 14px;
  color: #999;
  margin-top: 10px;
}


/* section6 */
#section6 {
  width: 100%;
  max-width: 1400px;
  height: 380px;
  background-color: #000;
  margin: 80px auto;
  overflow: hidden;
}

.section6Text {
  position: relative;
  width: 1400px;
  height: 380px;
  overflow: hidden;
}

.s6Text {
  /* border: 1px solid #fff8 */
  position: absolute;
  top: 0;
  left: 0;
  width: 2800px;
  height: 380px;
}

.set1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1400px;
  height: 380px;
  z-index: 1;
}

.set1 li,
.set2 li {
  float: left;
  font-family: 'santanablack';
  font-size: 150px;
  font-size: 9.375rem;
  text-transform: uppercase;
  color: #f8f8f8;
  letter-spacing: -5px;
  border-width: 8px 0;
  border: 8px solid #f8f8f8;
}

.set2 {
  position: absolute;
  left: 1400px;
  top: 0px;
  width: 1400px;
  height: 380px;
  z-index: 1;
}



/* ______________footer */
footer {
  width: 100%;
  max-width: 1400px;
  height: 150px;
  border-top: 8px solid #f8f8f8;
  border-radius: 40px 40px 0 0;
  background-color: #000;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 200;
  color: #f8f8f8;
  margin-left: 60px;
}