/* ________________Tablet */
/* 768~1199범위의 해상도 */
@media screen and (min-width: 768px) and (max-width: 1399px) {

  /* header */
  #pcHeader {
    max-width: 100%;
  }

  nav {
    border-bottom: 1px solid #fff;
    flex-flow: column wrap;
  }

  .logo {
    margin-top: 20px;
  }

  .gnb {
    width: 100%;
  }

  .gnbmenu {
    justify-content: center;
    padding: 0;
  }

  .gnbmenu li {
    margin-left: 24px;
  }

  .gnbmenu li a {
    font-size: 13px;
    font-size: 0.813rem;
  }

  .headerCircle1 {
    display: none;
  }

  /* visual */
  main {
    max-width: 100%;
    border-radius: 60px;
  }

  main h1 {
    height: 90%;
  }

  main h1 span {
    display: block;
    font-size: 150px;
    font-size: 10.625rem;
    letter-spacing: -10px;
    margin: 0 0 -25px 0;
  }

  main h1 hr {
    display: none;
  }

  .mainTriangle1 {
    display: none;
  }

  .mainCircle1 {
    top: 0;
    left: 280px;
  }

  .mainCircle2 {
    top: -100px;
  }

  .mainCircle3 {
    top: -78px;
  }

  .mainRectangle1 {
    bottom: -5%;
    left: 580px;
    background-color: #78ff96;
    z-index: 13;
  }

  .mainRectangle2 {
    bottom: -10%;
    left: 450px;
    z-index: 12;
  }

  /* section1 */
  .section1 {
    flex-direction: column;
    padding: 250px 42px 80px;
  }

  .sectionH2 {
    font-size: 80px;
    font-size: 5rem;
    letter-spacing: -8px;
    line-height: 80px;
  }

  .brline {
    margin-bottom: -45px;
  }

  .section1-1 {
    width: 100%;
    height: 300px;
    order: 2;
    margin-top: 24px;
    border-radius: 42px;
  }

  .section1-1 a img {
    height: 300px;
  }

  .section1-2 {
    width: 100%;
    order: 1;
  }

  .section1-2Content h2 {
    left: 0;
    width: 50%;
  }

  .section1-2Image {
    width: 50%;
    height: 315px;
    border-radius: 42px;
  }

  .section1-2Image a img {
    height: 315px;
  }

  .section1-2Dim {
    left: 0;
    width: 100%;
    border-radius: 42px 42px 0 0;
    padding: 24px 24px 48px 24px;
  }

  /* section2 */
  .section2 {
    height: 1250px;
    flex-direction: column;
    padding: 80px 42px 170px;
  }

  .section2-1 {
    width: 100%;
    height: 50%;
    margin: 0;
  }

  .section2-1>h2 {
    width: 100%;
    font-size: 70px;
    font-size: 4.375rem;
    text-align: left;
    padding-right: 10px;
  }

  .section2-1>h2>br {
    display: none;
  }

  .section2-1TextList {
    width: 100%;
    line-height: 28px;
    padding: 24px 10px 0;
  }

  .section2-1Dim {
    padding: 24px;
    margin-top: 10px;
    border-radius: 42px 42px 0 0;
  }

  .section2-2 {
    width: 100%;
    height: 50%;
    flex-direction: row;
    padding-top: 24px;
  }

  .section2-2>a {
    width: 49%;
    height: 100%;
    border-radius: 42px;
  }

  .section2-2Image {
    width: 49%;
    height: 100%;
    flex-direction: column;
  }

  .section2-2Image a:first-child,
  .section2-2Image a:nth-child(2) {
    width: 100%;
    height: 50%;
    margin-left: 24px;
    border-radius: 42px;
  }

  .section2-2Image a:nth-child(2) {
    margin-top: 24px;
  }

  .section2-2Image a:first-child img,
  .section2-2Image a:nth-child(2) img {
    height: 100%;
  }



  /* section3 */
  .section3 {
    padding: 80px 42px;
    border-radius: 60px 60px 0 0;
  }

  .section3>h2 {
    top: 15%;
    font-size: 65px;
    font-size: 4.063rem;
    letter-spacing: -7px;
    color: #ff7373;
  }

  .section5H2s:first-child:before {
    color: #fff;
  }

  .section3Image {
    border-radius: 42px;
  }

  .section3Text {
    width: 90%;
  }

  .section3Text1 {
    bottom: -35%;
  }

  .section3Dim {
    top: 100%;
    height: 110%;
    border-radius: 42px 42px 0 0;
    padding: 24px;
  }

  /* section4 */
  .section4 {
    height: 1250px;
    padding: 80px 42px;
    flex-direction: column;
  }

  .section4Image {
    width: 100%;
    border-radius: 42px;
  }

  .section4Text {
    width: 100%;
    margin-top: 24px;
  }

  .section4Text1 {
    top: 24px;
  }

  .section4Dim {
    top: 100%;
    height: 100%;
    border-radius: 42px 42px 0 0;
    padding: 24px;
  }

  .section4Text:hover .section4Dim {
    top: 50%;
  }


  /* section5 */
  .section5 {
    padding: 80px 42px;
  }

  .section5>h2 {
    font-size: 120px;
    font-size: 7.5rem;
  }
}

/* ________________Moblie */
/* 767이하~범위의 해상도 */
@media screen and (max-width:767px) {
#pcHeader {
  display: none;
}

#mobileHeader {
  display: block;
}

.mobileTop {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 35px;
  margin: 16px;
}

.mHamBtn {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 10px; */
}

.fa-bars {
  font-size: 28px;
  color: #fff;
  cursor: pointer;
}

.moMenuView {
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 0;
  width: 60%;
  height: 100vh;
  z-index: 10000;
  background-color: #000;
  /* display: none; */
}

.moMenuGnb ul li.close {
  position: absolute;
  top: 0;
  right: 100%;
  z-index: 1000;
  width: 60px;
  height: 60px;
  color: #fff;
  font-size: 36px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moMenuGnb ul li.close img {
  width: 100%;
}

.moMenuGnb ul li:not(.close) {
  width: 100%;
  height: 60px;
  color: #f8f8f8;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* Visual */
main {
  max-width: 100%;
  border-radius: 50px;
}

main>.h1>span{
  /* border: 1px solid #fff; */
  font-size: 150px;
  font-size: 9.375rem;
  margin: 0;
  float: right;
}
main>.h1 hr{
  display: none;
}
.mainTriangle1 {
  display: none;
}
.mainCircle1 {
  top: 0;
  left: 67%;
  width: 20px;
  height: 20px;
  border: none;
  background-color: #ffdb95;
}





/* Section*/
section {
  max-width: 100%;
}

/* Section1*/
.section1 {
  max-width: 100%;
  height: 1300px;
  padding: 230px 16px 60px;
  flex-direction: column;
}

.section1-1 {
  width: 100%;
  height: 35%;
  margin-top: 16px;
  order: 2;
}

.section1-2 {
  /* border: 1px solid #000; */
  width: 100%;
  height: 65%;
  order:1;
}

.section1-2Content {
  flex-direction: column;
}

.section1-2Content>h2 {
  width: 100%;
  text-align: center;
  margin: 0;
  line-height: 90%;
}

.section1-2Image{
  display: none;
}

.section1-2TextList {
padding: 16px;
margin-top: 0;
}

.section1-2Dim {
left: 0;
width: 100%;
height: 100%;
}

/* Section2*/
.section2 {
  max-width: 100%;
  padding: 60px 16px 220px;
  flex-direction: column;
}
.section2-1 {
  width: 100%;
  height: 85%;
  margin: 0 0 16px 0;
}
.section2-1>h2 {

}
.section2-1>h2>br {
  display: none;
}
.section2-1TextList {
  padding: 16px;
}
.section2-1Dim {
  border-radius: 50px 50px 0 0;
  padding: 24px;
}
.section2-1TextList:hover .section2-1Dim {
  top: 0;
}
.section2-2 {
  width: 100%;
  height: 15%;
}
.section2-2>a {
  display: none;
}
.section2-2Image a:first-child,
.section2-2Image a:nth-child(2) {
  border-radius: 32px;
  margin-top: 52px;
}
.section2-2Image a:first-child {
  height: 200px;
}
.section2-2Image a:nth-child(2) {
  width: 70%;
  height: 200px;
  margin-left: 16px;
}


/* section3 */
.section3 {
  max-width: 100%;
  border-radius: 50px 50px 0 0;
  padding: 60px 0;
}
.section3>h2 {
  top: 20%;
}
.section3Image {
  border-radius: 32px 32px 0 0;
}
.section3Text1 {
  bottom: -5%;
}
.section3Dim {
  top: 100%;
  height: 74%;
  border-radius: 32px 32px 0 0;
  padding: 24px;
}
.section3Text:hover .section3Dim {
  top: 38%;
}



/* section4 */
.section4 {
  max-width: 100%;
  padding: 60px 16px;
  flex-direction: column;
}
.section4>h2>span:first-child {
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-50%,-50%);

}
.section4>h2>span:last-child {
  display: block;
  position: absolute;
  top: 200px;
  left: 0;
  transform: rotate(90deg);
}

.section4Image {
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.section4Text {
  width: 100%;
  padding-top: 16px;
}
.section4Text1 {
  top: 5%;
}
.section4Dim {
  height: 100%;
  border-radius: 32px 32px 0 0;
  padding: 24px;
}
.section4Text:hover .section4Dim {
  top: 50%;
}

/* section5 */
.section5 {
  max-width: 100%;
  padding: 60px 16px;
}
.section5>h2 {
  top: 65%;
  font-size: 120px;
  font-size: 7.5rem;
}

/* section6 */
.section6 {
  max-width: 100%;
}


/* ______________footer */
footer {
  max-width: 100%;
  border-radius: 50px 50px 0 0;
}
}