/* ________________Tablet */
/* 768~1199범위의 해상도 */
@media screen and (min-width: 768px) and (max-width: 1399px) {

  /* header */
  #pcHeader {
    max-width: 100%;
  }

  nav {
    border-bottom: 1px solid #fff;
    flex-flow: column wrap;
  }

  .logo {
    margin-top: 20px;
  }

  .gnb {
    width: 100%;
  }

  .gnbmenu {
    justify-content: center;
    padding: 0;
  }

  .gnbmenu li {
    margin-left: 24px;
  }

  .gnbmenu li a {
    font-size: 13px;
    font-size: 0.813rem;
  }

  .headerCircle1 {
    display: none;
  }

  /* visual */
  main {
    max-width: 100%;
  }

  main .h1 {
    width: auto;
    padding-bottom: 90px;
  }

  main .h1>p {
    font-size: 120px;
    font-size: 7.5rem;
    letter-spacing: -5px;
    padding-top: 80px;
    margin-bottom: -60px;
  }

  main .h1-1 {
    display: block;
    border-bottom: 0;
    margin-bottom: 90px;
  }

  main .h1-1 p {
    font-size: 120px;
    font-size: 7.5rem;
    padding-top: 80px;
    margin-bottom: -60px;
    border-bottom: 4px solid #fff;
  }

  .h1-1 p:nth-child(2) {
    margin-left: 0;
  }

  .mainTriangle1 {
    display: none;
  }

  .mainCircle1 {
    display: none;
  }

  .mainCircle2 {
    display: none;
  }

  .mainCircle3 {
    display: none;
  }

  .mainRectangle1 {
    bottom: -5%;
    left: 580px;
    background-color: #54E8A6;
  }

  .mainRectangle2 {
    bottom: -10%;
    left: 450px;
  }

  /* section1 */
  #section1 {
    flex-direction: column;
  }

  .sectionH2 {
    font-size: 90px;
    font-size: 5.625rem;
    letter-spacing: -8px;
    line-height: 100px;
  }

  .brline {
    margin-bottom: -35px;
  }

  .section1-1 {
    width: 100%;
    height: 300px;
    order: 2;
    margin-top: 24px;
    border-radius: 30px;
  }

  .section1-1 img {
    height: 300px;
  }

  .section1-2 {
    width: 100%;
    order: 1;
  }

  .section1-2Content h2 {
    left: 0;
    width: auto;
  }

  .section1-2Image {
    width: 70%;
    height: 315px;
    border-radius: 30px;
  }

  .section1-2Image img {
    height: 315px;
  }

  .section1-2Dim {
    left: 0;
    width: 100%;
    border-radius: 30px 30px 0 0;
    padding: 24px 24px 48px 24px;
  }

  /* section2 */
  #section2 {
    flex-direction: column;
  }

  .section2Inner {
    display: flex;
    flex-direction: column;
  }

  .section2-1 {
    width: 100%;
    height: 50%;
    margin: 0;
  }

  .section2-1>h2 {
    width: 100%;
    font-size: 100px;
    font-size: 6.25rem;
    text-align: center;
    margin-right: 20px;
  }

  .section2-1TextList {
    width: 100%;
    line-height: 28px;
    margin-bottom: 30px;
  }

  .section2-1Dim {
    border-radius: 30px 30px 0 0;
  }

  .section2-2 {
    width: 100%;
    height: 100%;
    flex-direction: row;
  }

  .section2-2>img {
    width: 49%;
    height: 100%;
    border-radius: 30px;
  }

  .section2-2 img:first-child {
    height: 870px;
  }

  .section2-2Image {
    width: 49%;
    height: 100%;
    flex-direction: column;
  }

  .section2-2Image img:first-child,
  .section2-2Image img:nth-child(2) {
    width: 100%;
    height: 420px;
    margin-top: 0;
    margin-left: 24px;
    border-radius: 30px;
  }


  /* section3 */
  .section3Inner {
    border-radius: 30px 30px 0 0;
  }

  .section3Inner>h2 {
    top: 15%;
    font-size: 100px;
    font-size: 6.25rem;
    letter-spacing: -7px;
    color: #ff7373;
  }

  .section3Inner>h2:before {
    color: #fff;
  }

  .section3Image {
    height: 850px;
    border-radius: 30px 30px 0 0;
  }

  .section3Text {
    height: auto;
    padding-bottom: 30px;
  }


  .section3Dim {
    top: 100%;
    height: 100%;
    border-radius: 30px 30px 0 0;
    padding: 20px;
  }

  /* section4 */
  #section4 {
    justify-content: center;
  }

  #section4>h2>span:first-child {
    color: #ffdb95;
  }

  .section4Images {
    width: 100%;
  }

  .section4Image {
    width: 70%;
    height: 900px;
    border-radius: 30px;
    margin: 0 auto;
  }

  .section4Text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.6);
  }

  .section4Images a {
    text-align: center;
  }

  .section4Dim {
    top: 100%;
    border-radius: 42px 42px 0 0;
    padding: 24px;
  }

  .section4Text:hover .section4Dim {
    top: 0;
  }


  /* section5 */
  #section5 {
    padding: 80px 42px;
  }

  #section5>h2 {
    font-size: 100px;
    font-size: 6.25rem;
    letter-spacing: -6px;
    z-index: 5000;
  }

  .section5Image1 {
    height: 650px;
  }

  .section5Image2 {
    position: absolute;
    top: -130px;
    right: 0;
    height: 500px;
  }

  .lineTop {
    order: 1;
    width: 48.8%;
  }

  .lineBottom {
    order: 2;
    width: 48.8%;
    margin: 40px 0;
  }

  .section5Image {
    order: 3;
  }

  .section5License {
    display: flex;
    order: 4;
  }

  /* footer */
  footer {
    border-top: 6px solid #ff7373;
  }
}






/* ________________Moblie */
/* 767이하~범위의 해상도 */
@media screen and (max-width:767px) {
  #pcHeader {
    display: none;
  }

  #mobileHeader {
    display: block;
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }

  .mobileTop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo img {
    height: 35px;
    margin: 16px;
  }

  .mHamBtn {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fa-bars {
    font-size: 28px;
    color: #fff;
    cursor: pointer;
  }

  .moMenuView {
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    width: 60%;
    height: 100vh;
    z-index: 10000;
    background-color: #000;
  }

  .moMenuGnb ul li.close {
    position: absolute;
    top: 0;
    right: 100%;
    z-index: 1000;
    width: 60px;
    height: 60px;
    color: #fff;
    font-size: 36px;
    border: 1px solid #fff;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .moMenuGnb ul li.close img {
    width: 100%;
  }

  .moMenuGnb ul li:not(.close) {
    width: 100%;
    height: 60px;
    color: #f8f8f8;
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .moMenuGnb ul li a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 60px;
  }



  /* Visual */
  main {
    max-width: 100%;
    background-color: #000;
  }

  main>.h1 {
    border-radius: 0 0 30px 30px;
    margin-left: 20px;
  }

  main .h1 p {
    font-size: 80px;
    font-size: 5rem;
    letter-spacing: -2px;
    margin: 0;
  }

  main .h1-1 {
    display: block;
    border-bottom: 0;
    margin-bottom: 30px;
  }

  main .h1-1 p {
    font-size: 80px;
    font-size: 5rem;
    border-bottom: 4px solid #fff;
  }

  .h1-1 p:nth-child(2) {
    margin-left: 0;
  }

  .mainTriangle1 {
    display: none;
  }

  .mainCircle1 {
    top: 0;
    left: 28%;
    width: 15px;
    height: 15px;
    border: none;
    background-color: #ffdb95;
  }

  .mainCircle2 {
    bottom: -60%;
    right: -20%;
    width: 822px;
    height: 822px;
    transition: 0.35s;
  }

  .mainCircle3 {
    bottom: -58%;
    right: -16%;
    width: 778px;
    height: 778px;
    transition: 0.35s;
  }

  .mainRectangle1 {
    bottom: -40%;
    left: 40%;
  }

  .mainRectangle2 {
    bottom: -45%;
    left: 35%;
  }


  /* Section*/
  section {
    max-width: 100%;
  }

  /* Section1*/
  #section1 {
    max-width: 100%;
    height: auto;
    padding: 60px 16px 60px;
    flex-direction: column;
  }

  .section1-1 {
    width: 100%;
    height: 30%;
    margin-top: 16px;
    order: 2;
  }

  .section1-2 {
    /* border: 1px solid #000; */
    width: 100%;
    height: 70%;
    order: 1;
  }

  .section1-1 img {
    height: 400px;
  }

  .section1-2Content {
    flex-direction: column;
  }

  .section1-2Content h2 {
    width: 100%;
    height: 100%;
    font-size: 80px;
    font-size: 5rem;
    text-align: center;
    line-height: 80px;
    margin-bottom: 20px;
  }

  .section1-2Image {
    display: none;
  }

  .section1-2TextList {
    padding: 16px;
    margin-top: 0;
  }

  .section1-2Dim {
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* Section2*/
  #section2 {
    max-width: 100%;
    padding: 60px 16px 60px;
  }

  .section2Inner {
    flex-direction: column;

  }

  .section2-1 {
    width: 100%;
    height: 85%;
    margin: 0 0 16px 0;
  }

  .section2-1 h2 {
    font-size: 80px;
    font-size: 5rem;
    font-weight: 700;
    line-height: 80px;
    text-align: center;
  }

  .section2-1 h2 span {
    padding-right: 20px;
  }

  .section2-1TextList {
    padding: 16px;
  }

  .section2-1Dim {
    border-radius: 30px 30px 0 0;
    padding: 24px;
  }

  .section2-1TextList:hover .section2-1Dim {
    top: 0;
  }

  .section2-2 {
    width: 100%;
    height: 15%;
  }

  .section2-2>img {
    display: none;
  }

  .section2-2Image {
    flex-direction: column;
    gap: 16px;
  }

  .section2-2Image img:first-child,
  .section2-2Image img:nth-child(2) {
    width: 100%;
    border-radius: 20px;
    margin-top: 0;
  }

  .section2-2Image a:first-child {
    height: 200px;
  }

  .section2-2Image a:nth-child(2) {
    width: 70%;
    height: 200px;
    margin-left: 16px;
  }


  /* section3 */
  #section3 {
    max-width: 100%;
  }

  .section3Inner {
    border-radius: 30px 30px 0 0;
  }

  .section3Inner>h2 {
    font-size: 60px;
    font-size: 3.75rem;
    top: 120px;
    left: 0;
    line-height: 80px;
  }

  .section3Image {
    border-radius: 32px 32px 0 0;
    height: 1000px;
  }

  .section3Text {
    height: auto;
  }

  .section3Text1 {
    bottom: -5%;
  }

  .section3Dim {
    top: 100%;
    height: 100%;
    border-radius: 32px 32px 0 0;
    padding: 24px;
  }

  .section3Text:hover .section3Dim {
    top: 0;
  }



  /* section4 */
  #section4 {
    max-width: 100%;
    padding: 60px 16px;
    flex-direction: column;
  }

  #section4>h2 {
    font-size: 80px;
    font-size: 5rem;
  }

  #section4>h2>span:first-child {
    position: absolute;
    top: -300px;
    left: -200px;
  }

  #section4>h2>span:last-child {
    display: block;
    position: absolute;
    top: -200px;
    left: -150px;
  }

  .section4Images {
    flex-direction: column;
    width: 100%;
  }

  .section4Image {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .section4Text {
    width: 100%;
    height: 100%;
    padding-top: 16px;
    margin-top: 20px;
  }

  .section4Text1 {
    top: 5%;
  }

  .section4Dim {
    height: 100%;
    border-radius: 32px 32px 0 0;
    padding: 24px;
  }

  .section4Text:hover .section4Dim {
    top: 0;
  }

  /* section5 */
  #section5 {
    max-width: 100%;
    padding: 60px 16px;
  }

  #section5>h2 {
    font-size: 100px;
    font-size: 6.25rem;
  }

  .section5Image1,
  .section5Image2 {
    height: 450px;
    border-radius: 30px;
  }

  /* section6 */
  #section6 {
    max-width: 100%;
    height: 260px;
  }

  .set1 li,
  .set2 li {
    font-size: 100px;
    font-size: 6.25rem;
  }


  /* ______________footer */
  footer {
    max-width: 100%;
    border-radius: 30px 30px 0 0;
    border-top: 8px solid #ffdb95;
  }
}